Hostname, OS, Distribution, Version, Model, Serial, Domain Name, RAM, SDA Disk Size, NVMe0n1 Disk Size, Architecture, Cores, IP, MAC, Python Version
{% for host in groups['all'] %}
{{ hostvars[host]['ansible_facts']['hostname'] }}, {{ hostvars[host]['ansible_facts']['os_family'] }}, {{ hostvars[host]['ansible_facts']['distribution'] }}, {{ hostvars[host]['ansible_facts']['distribution_version'] }}, {{ hostvars[host]['ansible_facts']['product_version'] }}, {{ hostvars[host]['ansible_facts']['product_name'] }}, {{ hostvars[host]['ansible_facts']['domain'] | default ('NONE') }}, {{ hostvars[host] ['ansible_facts']['memtotal_mb'] }}MB, {{ hostvars[host]['ansible_facts']['devices']['sda']['size'] | default ('NONE')}}, {{ hostvars[host]['ansible_facts']['devices']['nvme0n1']['size'] | default ('NONE')}} , {{ hostvars[host]['ansible_facts']['architecture'] }},{{ hostvars[host]['ansible_facts']['processor_count'] }}, {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}, {{ hostvars[host].ansible_default_ipv4.macaddress }}, {{ hostvars[host]['ansible_facts']['python_version'] }}
{% endfor %}
